# LaTeX:
*.pdf
*.aux
*.log
*.toc
*.nav
*.snm
*.vrb

# editors swap/temporary files:
.*.swp
.*~
.*.kate-swp

# compilation outputs and generated elements:
*.asm
*.o
*.oxx
*.d
*.tmp
*.mod
*.out
*.objdump
qr/*.png
cpp/*.cpp
dot/*.png
dot/*.svg
gnuplot/*.png
gnuplot/*.svg
